@{
        Layout = null;
        var seriesTitle = "The Amazing Spider-Man";
        var issueNumber = 700;
        var description = "<p>Final issue.... if spiderman survives <strong>Will Peter parker survive???</strong></p>";
        var artist = new string[]
        {
            "Script : Dant Slott",
            "Pencil : Humberto Ramos",
            "Inks   : Victor Olazaba",
            "Colors : Edgar Delgado",
            "Letters: Chris Eliopoulos"
        };

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>
        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>
        <h5>Artists:</h5>
        <div>artist</div>
    </div>
</body>
</html>
